<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
<link rel="stylesheet" type="text/css" href="/css/doctor_table.css">
</head>
<body>
{{>header}}
<br>

<form method="post" action="/confirm_hospital_removal">
<h2>Select the hospital to be removed</h2>
<table id="table">
<tr>
<th>Name</th>
<th>Address</th>
<th>Type</th>
<th>Contact Number</th>
<th id="select">Select</th>
</tr>
{{#each details}}
<tr>
<td>{{name}}</td>
<td>{{address}}</td>
<td>{{type}}</td>
<td>{{Contact}}</td>
<td><button name="hospital" value="{{hid}}" type="submit">REMOVE</button></td>
</tr>
{{/each}}
</table>
</form>
</body>

</html>
