<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
</head>
<body>
<h2> DID :{{details.did}}</h2>
<h2> Name :{{details.doctor}}</h2>
<h2>Department : {{details.department}}</h2>
<h2>Fee: {{details.fee}}</h2>
<h2>Hospital: {{details.hospital}}</h2>
<a href ='/doctor_page'>Go Back</a>
</body>
</html>
