<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
<link rel="stylesheet" type="text/css" href="/css/receipt.css">
</head>
<body>
{{>header}}
<div class="center">
<h1>PROFILE</h1>
<table id="table">
<tr>
<td id="first"> ID </td>
<td>{{details.did}}</td>
</tr>
<tr>
<td id="first"> Name</td>
<td>{{details.doctor}}</td>
</tr>
<tr>
<td id="first">Department</td>
<td>{{details.department}}</td>
</tr>
<tr>
<td id="first">Fee</td>
<td> {{details.fee}}</td>
</tr>
<tr>
<td id="first">Hospital</td>
<td>{{details.hospital}}</td>
</tr>
</table>
<br>
<button><a href ='/doctor_page' >Go Back</a></button>

</div>
</body>
</html>
