<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
</head>
<body>
<h2> HID :{{details.hid}}</h2>
<h2> Name :{{details.name}}</h2>
<h2>Address : {{details.address}}</h2>
<h2>Type: {{details.type}}</h2>
<h2>Contact: {{details.Contact}}</h2>
<a href ='/hospital_page'>Go Back</a>
</body>
</html>
