<!DOCTYPE html>
<html>
<head>
<title>HospitalAppointment</title>
</head>
<body>
<h2>Person Name :{{receipt.Patient_first}}  {{receipt.Patient_last}}</h2>
<h2>Doctor Name :{{receipt.dname}} </h2>
<h2>Hospital Name :{{receipt.hname}} </h2>
<h2>Date: {{receipt.date}}</h2>
<h2>Time :{{receipt.time}}</h2>
<button><a href='/patient_page'>Back to home page</a></button>


</body>
</html>
